
@media (max-width: 1199px) {
	.nav {
		&-left, &-right {
			margin: 0 26px;
			& > li {
				padding: 0 20px;
			}
		}
	}	
	.main-title {
		font-size: 50px;
	}	

	.promo {
		&__wrapper {
			padding-left: 0;
		}
	}
	.section-title:before {
		display: none;
	}
	.section {
		padding: 50px 20px;
	}
	.mediation {
		min-height: 576px;
		& .cap-block {
			margin-bottom: 44px;
		}
	}
	.parallax-window {
		&__text {
			font-size: 43px;
			line-height: 57px;
		}
	}
	.go {
		min-height: 770px;
		margin-top: 75px;
		&__right {
			padding: 185px 0 0;
		}
	}
	.digits {
		min-height: 780px;
		&__content {
			padding-bottom: 20px;
		}
		&__item {
			margin-right: 0;
		}
		&__img-wrapper {
			&:before {
				font-size: 190px;
			}
		}
		&__title {
			font-size: 28px;
		}
		&__descr {
			font-size: 18px;
			line-height: 26px;
		}
	}
	.why {
		min-height: 650px;
	}
	.footer {
		padding: 30px 20px;
	}
	.toTop {
		right: 30px;
	}
}

@media (max-width: 991px) {
	.header {
		height: 60px;
		&__logo {
			height: 82px;
			width: 86px;
		}
	}
	.nav {
		&-left, &-right {
			margin: 0 10px;
			& > li {
				padding: 0 12px;
				& > a {
					font-size: 15px;
				}
			}
		}
	}

	.main-title {
		font-size: 44px;
	}	
	.promo {
		margin-top: 60px;
		min-height: 660px;
		&__wrapper {
			padding-top: 45%;
		}
		&__list {
			li {
				font-size: 20px;
				margin-bottom: 12px;
			}
		}
	}
	.section-left {
		width: 100%;
	}
	.mediation {
		&__content {
			margin-bottom: 30px;
		}
		& .btn--solid {
			& > span {
				display: none;
			}
		}
	}
	.go {
		margin-top: 0;
		&__image {
			position: static;
			width: 100%;
			height: auto;
		}
		&__right {
			padding: 60px 0 0;
		}
	}
	.parallax-window {
		min-height: 400px;
		&__text {
			font-size: 42px;
			line-height: 54px;
		}
	}
	.digits {	
		min-height: 670px;	
		&__img-wrapper {
			&:before {
				font-size: 148px;
			}
		}
	}
	.partners {
		&__item {
			padding: 0;
		}
	}
	.slick-track {
		justify-content: center;
	}
	.footer {
		&__email {
			& span {
				font-size: 14px;
			}
			& img {
				margin-right: 10px;
			}				
		}
		&__social {
			&-item {
				width: 35px;
				height: 35px;
				margin: 0 0 0 18px;
			}
		}
		&__menu {
			&-item {
				font-size: 14px;
			}
		}
	}
}


@media (max-width: 767px) {
	.nav {
		justify-content: space-between;
		&-left, &-right {
			display: none;
		}
	}
	.burger {
		display: flex;
	}
	.promo {
		background: url('../img/bg/first_bg_mobile.jpg') center center/cover no-repeat;
		min-height: 100vh;
		&__wrapper {
			padding-top: 75%;
			padding-left: 20px;
			padding-bottom: 15px;
		}
		&__descr {
			margin-bottom: 20px;
		}
		&__list {
			li {
				margin-bottom: 5px;
			}
		}
	}
	.section-title {
		margin-bottom: 40px;
	}
	.mediation {
		&__content {
			margin-bottom: 40px;
		}
		& .btn--solid {
			& > span {
				display: block;
			}
		}
		& .cap-block {
			margin-bottom: 30px;
		}
	}
	.parallax-window {
		&__text {
			padding: 0 20px;
			font-size: 32px;
			line-height: 46px;
		}
	}
	.digits {		
		&__img-wrapper {
			&:before {
				font-size: 216px;
			}
		}
	}
	.btn-wrapper {
		margin-bottom: 40px;
	}
	.footer {
		padding: 25px 20px 40px;
		&__social {	
			&-item {	
				width: 34px;
				height: 34px;
				margin: 0 0 0 16px;
			}
		}
		&__top {
			flex-direction: column;
			align-items: end;
		}
		&__logo {
			height: 82px;
			width: 86px;
		}
	}
	.toTop {
		bottom: 140px;
	}
}

@media (max-width: 575px) {
	.main-title {
		font-size: 36px;
	}
	.btn {
		font-size: 15px;
		line-height: 1.4;
		&.btn--solid {
			padding: 0 24px;
		}
	}
	.promo {
		min-height: 75vh;
		&__wrapper {
			display: none;
		}
		&__list {
			li {
				font-size: 17px;
			}
		}
	}
	.promo-mobile {
		display: block;
	}
	.section-title {
		font-size: 23px;
		line-height: 36px;
	}
	.parallax-window {
		min-height: 180px;
		&--quote {
			min-height: 400px;
		}
		&__text {
			font-size: 26px;
			padding: 0;
			line-height: 43px;
		}
	}
	.caption-mobile {
		display: block;
	}
	.mediation {
		& .btn--solid {
			& > span {
				display: none;
			}
		}
	}
	.digits {		
		&__img-wrapper {
			&:before {
				font-size: 130px;
				right: -8px;
			}
		}
		&__item {
			padding-right: 5px;
		}
		&__title {
			font-size: 26px;
		}
		&__descr {
			font-size: 16px;
			line-height: 22px;
			margin-top: 8px;
		}
	}
	.footer {
		padding: 30px 10px 40px;
		&__email {
			& img {
				display: none;
			}
		}
		&__social {	
			&-item {	
				width: 32px;
				height: 32px;
				margin: 0 0 0 12px;
			}
		}
		&__menu {
			justify-content: start;
			&-item {				
				margin-right: 20px;
			}
		}	
	}
}