.search-form {
	position: relative;
	&__form {
		transition: all .25s ease 0ms;
	}
	&__input {
		width: 100%;
		font-size: 16px;
		color: $white;
		background: transparent;
		padding: 0 15px 0;
		outline: 0;
		transition: all .3s ease 0ms;
		line-height: 42px;
		border: 2px solid rgba(255,255,255,.7);
		border-radius: $radius;
	}
	&__submit {
		position: absolute;
		top: 8px;
		right: 14px;
		background: transparent;
	}
}
