.header {
	padding: 0 15px;
	height: 74px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	background-color: $white;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	transition: all .3s;
	&--small {
		height: 60px;
	}
	&__logo {
		max-width: 100%;
		display: block;
		height: 112px;
		width: 117px;
		background: url('../img/logo/logo_top.svg') center center/cover no-repeat;
		transition: height .3s;
		&--small {
			height: 82px;
			width: 86px;
		}
	}
}
.nav {
	height: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	&-left, &-right {
		display: flex;
		align-items: center;
		margin: 0 34px;
		& > li {
			margin: 0;
			padding: 0 24px;
			position: relative;;
			& > a {
				display: block;
				line-height: 74px;
				color: $t_dark;
				font-weight: 600;
				font-size: 16px;
				transition: all .3s;
				&:hover, &:focus {
					color: $primary;
				}
			}
			& .sub-nav {
				visibility: hidden; 
				opacity: 0;
				position: absolute;
				top: 100%;
				left: 0;
				transform: translateY(-2em);
				transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
				background-color: $white;
				box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
				padding: 0;
				margin: 0;
				min-width: 120%;
				& > li {					
					& > a {
						display: block;
						padding: 10px 14px 10px 24px;
						line-height: 24px;
						color: $t_dark;
						font-weight: 600;
						font-size: 16px;
						transition: all .3s;
						&:hover {
							color: $primary;
							background-color: $secondary;
						}
					}
				}
			}
			&:hover .sub-nav, 
			&:focus-within .sub-nav,
			&:focus .sub-nav {
				visibility: visible; 
				opacity: 1;
				transform: translateY(0%);
				transition-delay: 0s, 0s, 0.3s;
			}
		}

	}
}

// Burger
.burger {
	display: none;
	width: 60px;
	height: 60px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	cursor: pointer;
	transition: all .5s;
	&__row {
		height: 2px;
		width: 45%;
		margin: 2px 0;
		background-color: $t_dark;
		position: relative;
		transition: all .5s;
	}
	&.active .burger__row {
		&:first-child {
			transform: rotate(-135deg);
			top: 6px;
		}
		&:last-child {
			transform: rotate(-225deg);
			top: -6px;
		}
		&:nth-child(2) {
			opacity: 0;
		}
	}
}

.mobile-menu {
	transform: translateY(-100vh);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 40px;
	background-color: rgba(255,255,255,.1);
	transition: all .5s;
	z-index: 999;
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%; 
	height: 100%;
	overflow: hidden;
	&.active {
		transform: translateY(0);
		background-color: rgba(255,255,255,.9);
		overflow-y: scroll;
	}
	&__list {
		list-style-type: none;
		margin-bottom: 40px;
	}
	&__item {
		& > a {
			display: block;
			line-height: 74px;
			color: $t_dark;
			font-weight: 600;
			font-size: 20px;
			transition: all .3s;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
	&__sub-nav {
		& > li {
			& > a {	
				display: block;	
				padding: 10px 0;			
				line-height: 24px;
				color: $t_dark;
				font-weight: 600;
				font-size: 16px;
				&:hover, &:focus {
					color: $primary;
				}
			}
		}		
	}
}

