.promo {
	min-height: 760px;
	background: url('../img/bg/first_bg.jpg') center center/cover no-repeat;
	margin-top: 74px;
	color: $white;
	&__wrapper {
		padding: 45% 0 0 30px;
	}
	&__descr {
		font-weight: 400;
		font-size: 16px;
		color: $white;
		margin-bottom: 50px;
	}
	&__list {
		list-style-type: none;	
		padding-left: 22px;	
		& li {
			position: relative;
			font-family: 'Garamond', Garamond, serif;
			font-weight: 700;
			font-size: 22px;
			line-height: 28px;
			margin-bottom: 14px;
			color: $white;
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 24px;
				height: 24px;
				left: -30px;
				top: 1px;
				background: url('../icons/chevron_right_mono.svg') center center/cover no-repeat;
			}
		}			
	}
}
.promo-mobile {
	display: none;
	background-color: #0e0e0e;
	padding: 25px 15px 10px;
}