.partners {
	&__slider {
		overflow: hidden;
		padding: 20px 0 90px;
	}
	&__item {
		margin: 0 10px;
		transition: all .3s;
		overflow: hidden;
		& > img {
			width: 100%;
			height: auto;
		}
		&:hover {
			opacity: .9;
			transform: scale(1.05);
		}
	}
}
.slick-track {
	display: flex;
	justify-content: space-between;
}
.slick-prev, .slick-next {
	position: absolute;
	top: 5px;
	right: 0;
	border: none;
	background-color: #fff;
	transition: all .3s;
	& i {			
		color: $primary;
	}
	&:focus, &:active {
		border: none;
	}
}
.slick-next {	
	right: 12px;	
	&:hover {
		transform: translateX(5px);
	}
}
.slick-prev {	
	right: 75px;	
	&:hover {
		transform: translateX(-5px);
	}
}